.table_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    overflow: hidden;
}

.cell-with-modal {
    transition: background-color 0.3s ease;
}

.cell-with-modal:hover {
    background-color: #303D50 !important;
    color: white;
    font-weight: 600;
}


thead tr th {
    background-color: #FFF !important;
    border-bottom: 1px solid #DEE2E6 !important;
    position: sticky;
    top: 0;
    z-index: 2;

}

.table-scroll th, .table-scroll td {
    white-space: nowrap;
    word-wrap: normal;
    min-width: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.table-scroll {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}


.table-scroll::-webkit-scrollbar:horizontal {
    height: 4px;
}

.table-scroll::-webkit-scrollbar-track:horizontal {
    background: #f1f1f1;
}

.table-scroll::-webkit-scrollbar-thumb:horizontal {
    background: #303D50;
    border-radius: 5px;
}

.data-count {
    font-weight: 500;
    font-size: 0.85rem;
    margin-right: 5px;
    color: darkgray;
}

.data-unp {
    font-weight: 500;
    font-size: 0.85rem;
    margin-left: 5px;
    color: darkgray;
}